body {
  margin: 0px;
}

header {
  top: 0;
  left: 100px;
  position: fixed;
  z-index: 1;
}

.imagefeature {
  height: 100vh;
  background-size: cover;
  position: relative;
}
.bimage {
  background-image: url("./images/p1.avif");
}

.simage {
  background-image: url("./images/t2.jpg");
}

h1 {
  color: crimson;
  font-family: cursive;
}
h5 {
  text-align: center;
  font-size: medium;
  color: brown;
  font-family: monospace;
}

.click-box {
  position: sticky;
  bottom: 225px;
  left: 125px;
  color: bisque;
}

.container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.tabs {
  color: crimson;
  font-size: 25px;
  width: 200px;
  height: 200px;
}
